.classpath
.project
.idea/
.settings/
target/
.flexLibProperties
.flexProperties
.actionScriptProperties
bin-debug/
html-template/
*.iml
*.ipr
*.iws
*.swf
*.swc
.DS_Store
bin/
.FlexUnitSettings
*.swz
brasil.jks
.flexConfig.xml
.build/
build/
classes/
*.orig
.externalToolBuilders/
.springBeans
*CrossUnifiedQueueClientComponentQueueForceCompilation.as
*CrossUnifiedQueueFmAsForceCompilation.as
*CsasClientComponentsCoreForceCompilation.as
*CsasFmAsForceCompilation.as
