<configuration debug="false" scan="false" scanPeriod="60 seconds">

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
	  <file>C:\dev\log\codebook-enum-gen.log</file>
	  <append>false</append>
	  <encoder>
	    <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
	  </encoder>
	</appender>

	<root level="debug">
<!-- 		<appender-ref ref="console" /> -->
		<appender-ref ref="FILE" />
	</root>

</configuration>
